<div class="card position-relative overflow-hidden rounded">
    <a href="{{cardUrl}}" target="_blank">
        <img src="{{cardPhotoCover}}" class="w-100 object-fit-contain rounded" alt="Imagem do jogo {{cardName}}">
    </a>
    <app-card-label cardLabel="{{cardLabel}}" class="position-absolute" [ngClass]="cardLabel == '' ? 'label-none' : 'label'"></app-card-label>
    <app-card-pricing cardPlataform="{{cardPlataform}}" cardPrice="{{cardPrice}}" cardName="{{cardName}}" class="position-absolute bottom-0 start-0 w-100"></app-card-pricing>
</div>

