header{

    @include container($white, .5rem, 100%);

    @media (min-width: 992px){
        padding: .5rem 2.25rem;
    }

    img{
        width: 8.75rem;
        height: auto;
        object-fit: contain;
    }
}