<ul class="navbar-nav d-flex flex-row gap-3 gap-lg-2">
    <li class="nav-item">
    <a class="nav-link p-0" href="mailto:suuzanemoura@gmail.com" target="_blank">
        <i class="bi bi-envelope-fill"></i>
    </a>
    </li>
    <li class="nav-item">
    <a class="nav-link p-0" href="https://github.com/suuzanemoura" target="_blank">
        <i class="bi bi-github"></i>
    </a>
    </li>
    <li class="nav-item">
    <a class="nav-link p-0" href="https://www.linkedin.com/in/suuzanemoura/" target="_blank">
        <i class="bi bi-linkedin"></i>
    </a>
    </li>
</ul>