<main class="w-100 min-vh-100 position-relative not-found-container">
    <div class="position-absolute d-flex flex-column align-items-center text-center not-found-text">
        <p class="fs-4 fw-bold text-primary">404</p>
        <h1 class="fs-1 fw-bolder">Página não encontrada</h1>
        <p class="mt-6">Desculpe, não encontramos a página que você procura.</p>
        <div class="mt-10 d-flex align-items-center justify-content-center gap-5">
        <a [routerLink]="['']" class="btn btn-primary" href="#" role="button">Voltar para o início</a>
    </div>
  </div>
</main>
