<main>
    <app-carousel></app-carousel>
    <div class="row p-5 my-5 mx-0 row-cols-lg-5 row-cols-1 row-cols-sm-2 row-cols-md-3 row-gap-5 column-gap-lg-3 justify-content-center">
            <app-card class="col"></app-card>
            <app-card class="col"></app-card>
            <app-card class="col"></app-card>
            <app-card class="col"></app-card>
            <app-card class="col"></app-card>
            <app-card class="col"></app-card>
            <app-card class="col"></app-card>
            <app-card class="col"></app-card>
            <app-card class="col"></app-card>
            <app-card class="col"></app-card>
            <app-card class="col"></app-card>
            <app-card class="col"></app-card>
    </div>
</main>
