<nav>
  <ul class="nav fw-semibold justify-content-center">
      <li class="nav-item">
        <button class="nav-link"type="button"><a href="https://store.playstation.com/pt-br/pages/latest" target="_blank">Novidades</a></button>
      </li>
      <li class="nav-item">
        <button class="nav-link" type="button"><a href="https://store.playstation.com/pt-br/pages/collections" target="_blank">Coleções</a></button>
      </li>
      <li class="nav-item">
        <button class="nav-link" type="button"><a a href="https://store.playstation.com/pt-br/pages/deals" target="_blank">Ofertas</a></button>
      </li>
      <li class="nav-item">
        <button class="nav-link" type="button"><a a href="https://store.playstation.com/pt-br/pages/ps5" target="_blank">PS5</a></button>
      </li>
      <li class="nav-item">
        <button class="nav-link" type="button"><a a href="https://store.playstation.com/pt-br/pages/subscriptions" target="_blank">Assinaturas</a></button>
      </li>
    </ul>
</nav>